<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721194391218-o2cm2tp1grk80c2qihprva6qdtbamias.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721194391218-o2cm2tp1grk80c2qihprva6qdtbamias</string>
	<key>API_KEY</key>
	<string>AIzaSyAW1D06qvW7e_HBdNGzDYuLbpY3CBj67Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>721194391218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ronytuquizz.inlove</string>
	<key>PROJECT_ID</key>
	<string>inlove-r</string>
	<key>STORAGE_BUCKET</key>
	<string>inlove-r.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721194391218:ios:02abc9a9cfa7be005edbab</string>
</dict>
</plist>